$card-bg: #FFFFFF;
$card-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
$card-radius: 4px;

.mount {
  background: $card-bg;
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  width: 100%;
  height: 100%;
}

.image {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}