@import "../styles/variables.scss";

.rounded {
  display: inline-block;
  border: solid;
  border-radius: 6px;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: $primary-color;
}
.rounded:hover {
  opacity: 0.5;
  background-color: $primary-color;
}