@import '../styles/variables';

.wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  padding-left: 15%;
  padding-right: 15%;

  @media (max-width: $breakpoint) {
    padding-left: 5%;
    padding-right: 5%;
  }
}