@import "../styles/variables.scss";

.header {
  background-color: $primary-color;
  display: flex;
  overflow: hidden;
  padding-right: 50px;

  nav {
    display: flex;
    align-items: center;
    width: 100%;
    ul {
      display: flex;
      width: 100%;
      padding-left: 0;
      margin: 0;
      align-items: center;
        list-style: none;
      li {
        padding-left: 50px;
        list-style-type: none;
      }
    }
  }
}

.footer {
  background-color: $primary-color;
  display: flex;
  overflow: hidden;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin-top: auto;
}