@import '../styles/variables';

.header {
  overflow: hidden;
  color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);

  .header_content_wrapper {
    padding: 0 5%;
    display: flex;

    @media (max-width: $breakpoint) {
      align-items: center;
      justify-content: space-between;
      nav {
        position: fixed;
        top: 52px;
        right: 0;
        width: 100vw;
        background-color: $primary;
        margin: -600px 0 0 0;
        transition-duration: 0.5s;
        z-index: 9;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        ul {
          display: inline;
          width: 100%;
          padding-left: 0;
          margin: 0;
          margin-block: 0;
          margin-inline: 0;
          padding-inline: 0;
          align-items: center;
          justify-content: center;
          list-style: none;
          li {
            display: flex;
            justify-content: center;
            list-style-type: none;
            font-family: 'Hiragino Sans';
            font-style: normal;
            font-weight: 200;
            font-size: 20px;
            &:first-child {
              padding-top: 14px;
            }
            &:last-child {
              padding-bottom: 14px;
            }
            a {
              width: 100%;
              padding: 7px 0;
              text-align: center;
            }
          }
        }
      }
      .nav_opened {
        visibility: visible;
        left: 0;
        margin: 0;
      }
      .nav_closed {
        visibility: hidden;
      }
    }

    @media (min-width: $breakpoint) {
      nav {
        margin-left: auto;
        display: flex;
        align-items: center;
        ul {
          display: flex;
          width: 100%;
          padding-left: 0;
          margin: 0;
          align-items: center;
          list-style: none;
          li {
            padding-left: 32px;
            list-style-type: none;
            font-family: 'Hiragino Sans';
            font-style: normal;
            font-weight: 200;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.link {
  color: $primary;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_link {
  color: $primary;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 0 10px;
  transition: .2s;
  @media (max-width: $breakpoint) {
    color: white;
  }
  &:hover {
    opacity: .7;
  }
}

.current_nav_link {
  border-bottom: 1px solid $primary;
  @media (max-width: $breakpoint) {
    background-color: darken($primary, 7%);
  }
}

.title_wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  line-height: 52px;
  .logo {
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    letter-spacing: -15px;
  }
  .title {
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-left: 15px;
  }
  @media (max-width: $breakpoint) {
    align-items: flex-start;
  }
}

.footer {
  display: flex;
  overflow: hidden;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  margin-top: auto;
  color: $primary;
  font-size: 12px;
  font-family: YuGothic;
}

.hamburger_menu {
  display: none;
  @media (max-width: $breakpoint) {
    display: flex;
  }
  transition-duration: 0.25s;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  bottom: 2px;
  width: 26px;
  height: 26px;
  cursor: pointer;

  span, span::before, span::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $primary;
  }
  span {
    top: 13px;
    &.clicked {
      transform: rotate(45deg);
      &::before {
        top: 0;
        transform: rotate(0);
      }
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }
  span::before {
    top: -8px;
    transition-duration: 0.25s;
  }
  span::after {
    top: 8px;
    transition-duration: 0.25s;
  }
}
