@import '../styles/variables';

.wrapper {
  position: relative;
  width: fit-content;
  @media (max-width: $breakpoint) {
    margin-top: 20px;
  }
}

.text {
  position: relative;
  z-index: 1;
}

.icon {
  position: absolute;
  top: 0%;
  right: -20px;
  width: 75px;
}

.svg_container {
  position: relative;
  width: 100%;
}

.svg {
  position: absolute;
	top: 0;
	left: 0;
}